@using StaloŽaidimųPortalas.Models.ViewModels.Bendruomenės
@using Microsoft.AspNetCore.Authorization

@model KonkretiBendruomenė

@{
	ViewData["Title"] = "Bendruomenė";
}

<style>
	.siauras {
		width: 20%;
	}

	.ikona {
		width: 5%;
	}

	.raudonas-x {
		color: darkred;
		text-decoration: none;
	}

	.raudonas-x:hover {
		font-weight: bold;
		color: red;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			@if (Model.BendruomenėsPavadinimas != null && Model.BendruomenėsŽaidimas != null)
			{
				<h3>@Model.BendruomenėsPavadinimas - @Model.BendruomenėsŽaidimas</h3>
			}

			@if (Model.ArBendruomenėsAdministratorius)
			{
				<span>Jūs administratorius</span>
			}
		</div>
		@if (User.Identity.IsAuthenticated)
		{
			if (Model.ArBendruomenėsNarys)
			{
				<div class="col-sm-6 float-right">
					<div class="float-right">
						<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PridetiBendruomenesIrasaModal" onclick="perduokId(@Model.BendruomenėsId)">Pridėti įrašą</button>
						@if (!Model.ArBendruomenėsAdministratorius)
						{
							<button class="btn btn-danger" onclick="atšaukNarį(@Model.BendruomenėsId, '@Model.NaudotojoId', '@Model.BendruomenėsPavadinimas')">Atšaukti narystę</button>
						}
						else
						{
							<button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("BendruomenėsRedagavimas", "Bendruomenės", new { bendruomenėsId = Model.BendruomenėsId, naudotojoId = Model.NaudotojoId})'">Redaguoti bendruomenę</button>
						}
					</div>
				</div>
			}
			else
			{
				<div class="col-sm-6 float-right">
					<button class="btn btn-warning float-right" onclick="priskirkNarį(@Model.BendruomenėsId, '@Model.NaudotojoId', '@Model.BendruomenėsPavadinimas')">Tapti bendruomenės nariu</button>
				</div>
			}
		}
	</div>
</div>

<br />
@if (Model.Įrašai.Įrašai != null && Model.Įrašai.Įrašai.Any())
{
	<div class="pagination">
		<table class="table">
			<thead class="centruok-tekstą">
				<tr>
					<th></th>
					<th class="siauras">Autorius</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var įrašas in Model.Įrašai.Įrašai)
				{
					<tr>
						<td>@įrašas.Tekstas</td>
						<td class="siauras centruok-tekstą">@įrašas.Autorius</td>
						@if (įrašas.Autorius == User.Identity.Name && Model.ArBendruomenėsNarys)
						{
							<td class="ikona"><button class="btn raudonas-x" onclick="šalintiĮrašą(@įrašas.ĮrašoId, '@įrašas.NaudotojoId')">X</button></td>
						}
						else
						{
							<td class="ikona"></td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<div><span>Nėra įrašų</span></div>
}

@if (Model.Įrašai.VisoPuslapių > 1)
{
	<div>
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@for (int i = 1; i <= Model.Įrašai.VisoPuslapių; i++)
				{
					<li class="page-item @(i == Model.Įrašai.DabartinisPuslapis ? "active" : "")">
						<a class="page-link" href="/Bendruomenės/GaukBendruomenėsĮrašus?puslapioNumeris=@i&puslapioDydis=@Model.Įrašai.PuslapioDydis">@i</a>
					</li>
				}
			</ul>
		</nav>
	</div>
}

<div class="modal fade" id="PridetiBendruomenesIrasaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			@await Html.PartialAsync("_BendruomenėsĮrašoĮvedimas", new KonkretiBendruomenė.Įrašas())
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function perduokId(id) {
			$(".bendruomenės-id").val(id);
		}

		function šalintiĮrašą(įrašoId, naudotojoId) {
			alert(įrašoId + "            " + naudotojoId);
			if (confirm("Ar tikrai norite pašalinti savo įrašą?")) {
				$.ajax({
					url: "/Bendruomenės/PašalinkĮrašą/",
					type: "POST",
					data: {
						įrašoId: įrašoId,
						naudotojoId: naudotojoId
					},
					success: function () {
						location.reload();
					},
					error: function () {
						alert("Įvyko klaida, bandykite dar kartą.");
					}
				});
			}
		}

		function priskirkNarį(bendruomenėsId, naudotojoId, bendruomenėsPavadinimas) {
			if (confirm("Ar tikrai norite tapti: '" + bendruomenėsPavadinimas + "' nariu?")) {
				$.ajax({
					url: "/Bendruomenės/PridėkNarį/",
					type: "POST",
					data: {
						bendruomenėsId: bendruomenėsId,
						naudotojoId: naudotojoId
					},
					success: function () {
						location.reload();
					},
					error: function () {
						alert("Įvyko klaida, bandykite dar kartą.");
					}
				});
			}
		}

		function atšaukNarį(bendruomenėsId, naudotojoId, bendruomenėsPavadinimas) {
			if (confirm("Ar tikrai atšaukti būti: '" + bendruomenėsPavadinimas + "' nariu?")) {
				$.ajax({
					url: "/Bendruomenės/AtšaukNarį/",
					type: "POST",
					data: {
						bendruomenėsId: bendruomenėsId,
						naudotojoId: naudotojoId
					},
					success: function () {
						location.reload();
					},
					error: function () {
						alert("Įvyko klaida, bandykite dar kartą.");
					}
				});
			}
		}

		$(document).ready(function () {
			$(document).on("submit", "#PridetiBendruomenesIrasaModal form", function (event) {
				event.preventDefault();
				var form = $(this);

				$.ajax({
					url: form.attr("action"),
					type: "POST",
					data: form.serialize(),
					success: function (response) {
						var hasErrors = $(response).find(".field-validation-error").length > 0;

						if (hasErrors) {
							$("#PridetiBendruomenesIrasaModal .modal-content").html(response);
						} else {
							$("#PridetiBendruomenesIrasaModal").modal("hide");
							location.reload();
						}
					},
					error: function (xhr, status, error) {
						$("#PridetiBendruomenesIrasaModal").html(xhr.responseText);
					}
				});
			});
		});
	</script>
}