@using StaloŽaidimųPortalas.Models.ViewModels.Skelbimai

@model Skelbimai.ŽaidimoSkelbimas

<div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Patalpinti skelbimą</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
	@using (Html.BeginForm("PridėkSkelbimą", "Skelbimai"))
	{
		@Html.ValidationSummary(true)
		<div class="modal-body">
			<div class="form-group">
				@Html.LabelFor(m => m.Pavadinimas)
				@Html.EditorFor(m => m.Pavadinimas, new { htmlAttributes = new { @class = "skelbimo-pavadinimas-input form-control" } })
				@Html.ValidationMessageFor(m => m.Pavadinimas, "", new { @class = "text-danger mb-2" })
			</div>
			<br />
			<div class="form-group">
				@Html.LabelFor(m => m.ŽaidimoPavadinimas)
				@Html.DropDownListFor(m => m.ŽaidimoId, Enumerable.Empty<SelectListItem>(), "-- Pasirinkite žaidimą --", new { @class = "form-control", id = "ZaidimuDropdown" })
				@Html.ValidationMessageFor(m => m.ŽaidimoId, "", new { @class = "text-danger mb-2" })
			</div>
			<br />
			<div class="form-group">
				@Html.LabelFor(m => m.Aprašymas)
				@Html.TextAreaFor(m => m.Aprašymas, new { @class = "skelbimo-aprašymas-input form-control" })
				@Html.ValidationMessageFor(m => m.Aprašymas, "", new { @class = "text-danger mb-2" })
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary patalpinti-skelbimą">Patalpinti</button>
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Uždaryti</button>
		</div>
	}
</div>