@using StaloŽaidimųPortalas.Models.ViewModels.Skelbimai

@model Skelbimai

@{
	ViewData["Title"] = "Skelbimai";
}

<style>
	.modal-dialog {
		max-width: none;
		width: 40%;
	}

	.valdymo-wrapper {
		width: fit-content;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h3>Jūsų skelbimai</h3>
		</div>
		<div class="col-sm-6 float-right">
			<div class="mygtukų-wrapper float-right">
				<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PatalpintiSkelbimaModal">Patalpinti skelbimą</button>
				<a class="btn btn-success" asp-area="" asp-controller="Skelbimai" asp-action="GaukSkelbimusKaipPartnerio">Skelbimai kur ęsate partneris</a>
				<a class="btn btn-secondary" asp-area="" asp-controller="Skelbimai" asp-action="GaukSkelbimus">Visi skelbimai</a>
			</div>
		</div>
	</div>
</div>

<br />

<div class="pagination">
	<table class="table">
		<thead class="centruok-tekstą">
			<tr>
				<th>Skelbimo pavadinimas</th>
				<th>Žaidimo pavadinimas</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@if (Model.SkelbimųSąrašas.Skelbimai != null && Model.SkelbimųSąrašas.Skelbimai.Any())
			{
				@foreach (var skelbimas in Model.SkelbimųSąrašas.Skelbimai)
				{
					<tr>
						<td>@skelbimas.Pavadinimas</td>
						<td>@skelbimas.ŽaidimoPavadinimas</td>
						<td>
							<div class="valdymo-wrapper float-right">
								<div class="d-inline-block">
									<button class="peržiūrėti-skelbimą btn btn-outline-primary centruok-mygtuką"
											data-skelbimonr="@skelbimas.SkelbimoId"
											data-skelbimas="@skelbimas.Pavadinimas"
											data-zaidimas="@skelbimas.ŽaidimoPavadinimas"
											data-aprasymas="@skelbimas.Aprašymas"
											data-bs-toggle="modal"
											data-bs-target="#PerziuretiSkelbimaModal">
										Peržiūrėti
									</button>
								</div>
								<div class="d-inline-block">
									<button class="redaguoti-skelbimą btn btn-outline-primary centruok-mygtuką"
											data-skelbimo-id="@skelbimas.SkelbimoId"
											data-bs-toggle="modal"
											data-bs-target="#RedaguotiSkelbimaModal">
										Redaguoti
									</button>
								</div>
								<div class="d-inline-block">
									<button class="btn btn-outline-danger centruok-mygtuką"
											onclick="arŠalintiSkelbimą('@skelbimas.SkelbimoId', '@skelbimas.Pavadinimas')">
										Šalinti
									</button>
								</div>
							</div>
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="3" class="centruok-tekstą">Nėra duomenų</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@if (Model.SkelbimųSąrašas.VisoPuslapių > 1)
{
	<div>
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@for (int i = 1; i <= Model.SkelbimųSąrašas.VisoPuslapių; i++)
				{
					<li class="page-item @(i == Model.SkelbimųSąrašas.DabartinisPuslapis ? "active" : "")">
						<a class="page-link" href="/Skelbimai/GaukNaudotojoSkelbimus?puslapioNumeris=@i&puslapioDydis=@Model.SkelbimųSąrašas.PuslapioDydis">@i</a>
					</li>
				}
			</ul>
		</nav>
	</div>
}

<div class="modal fade" id="PatalpintiSkelbimaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			@await Html.PartialAsync("_SkelbimoĮvedimas", Model.Skelbimas)
		</div>
	</div>
</div>

<div class="modal fade" id="RedaguotiSkelbimaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			@await Html.PartialAsync("_SkelbimoRedagavimas", Model.Skelbimas)
		</div>
	</div>
</div>

<div class="modal fade" id="PerziuretiSkelbimaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="PerziurosPavadinimas"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div>
					@Html.LabelFor(m => m.Skelbimas.ŽaidimoPavadinimas)
					<p class="aprašymas-žaidimas"></p>
				</div>
				<br />
				<div>
					@Html.LabelFor(m => m.Skelbimas.Aprašymas)
					<p class="aprašymas-tekstas"></p>
				</div>
				<br />
				<div>
					<h6>Partneriai:</h6>
					<ul class="partneriai-list"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Uždaryti</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function arŠalintiSkelbimą(skelbimoId, skelbimoPavadinimas) {
			if (confirm("Ar tikrai norite pašalinti skelbimą: " + skelbimoPavadinimas + "?")) {
				$.ajax({
					url: "/Skelbimai/PašalinkSkelbimą/" + skelbimoId,
					type: "POST",
					success: function () {
						location.reload();
					},
					error: function () {
						alert("Įvyko klaida šalinant skelbimą.");
					}
				});
			}
		};

		$(document).ready(function () {
			function gaukŽaidimus() {
				$.ajax({
					url: '@Url.Action("GaukStaloŽaidimus", "Skelbimai")',
					type: 'GET',
					dataType: 'json',
					success: function (data) {
						var dropdown = $("#ZaidimuDropdown");
						var dropdownRedagavimui = $("#ZaidimuDropdownRedagavimas");
						dropdown.empty();
						dropdownRedagavimui.empty();
						dropdown.append($("<option>").text("-- Pasirinkite žaidimą --").val(0));
						$.each(data, function (index, item) {
							dropdown.append($("<option>").text(item.pavadinimas).val(item.žaidimoId));
							dropdownRedagavimui.append($("<option>").text(item.pavadinimas).val(item.žaidimoId));
						});
					},
					error: function () {
						alert("Klaida gaunant žaidimų sąrašą.");
					}
				});
			}

			gaukŽaidimus();

			$(".redaguoti-skelbimą").click(function () {
				var skelbimoId = $(this).data("skelbimo-id");

				$.ajax({
					url: "/Skelbimai/GaukSkelbimą/" + skelbimoId,
					type: "GET",
					success: function (skelbimas) {
						$(".redaguojamo-skelbimo-id").val(skelbimas.skelbimoId);
						$(".redaguojamo-skelbimo-pavadinimas-input").val(skelbimas.pavadinimas);
						$("#ZaidimuDropdownRedagavimas").val(skelbimas.žaidimoId);
						$(".redaguojamo-skelbimo-aprašymas-input").val(skelbimas.aprašymas);

						$("#RedaguotiSkelbimaModal").modal("show");
					}
				});
			});

			$(document).on("submit", "#PatalpintiSkelbimaModal form", function (event) {
				event.preventDefault();
				var form = $(this);

				$.ajax({
					url: form.attr("action"),
					type: "POST",
					data: form.serialize(),
					success: function (response) {
						var hasErrors = $(response).find(".field-validation-error").length > 0;

						if (hasErrors) {
							gaukŽaidimus();
							$("#PatalpintiSkelbimaModal .modal-content").html(response);
						} else {
							$("#PatalpintiSkelbimaModal").modal("hide");
							location.reload();
						}
					},
					error: function (xhr, status, error) {
						gaukŽaidimus();
						$("#PatalpintiSkelbimaModal").html(xhr.responseText);
					}
				});
			});

			$(document).on("submit", "#RedaguotiSkelbimaModal form", function (event) {
				event.preventDefault();
				var form = $(this);

				$.ajax({
					url: form.attr("action"),
					type: "POST",
					data: form.serialize(),
					success: function (response) {
						var hasErrors = $(response).find(".field-validation-error").length > 0;

						if (hasErrors) {
							gaukŽaidimus();
							$("#RedaguotiSkelbimaModal .modal-content").html(response);
						} else {
							$("#RedaguotiSkelbimaModal").modal("hide");
							location.reload();
						}
					},
					error: function (xhr, status, error) {
						gaukŽaidimus();
						$("#RedaguotiSkelbimaModal").html(xhr.responseText);
					}
				});
			});

			$(".peržiūrėti-skelbimą").on("click", function () {
				var skelbimoId = $(this).data("skelbimonr");
				var skelbimas = $(this).data("skelbimas");
				var žaidimas = $(this).data("zaidimas");
				var aprašymas = $(this).data("aprasymas");

				$("#PerziurosPavadinimas").text(skelbimas);
				$(".aprašymas-žaidimas").text(žaidimas);
				$(".aprašymas-tekstas").text(aprašymas);

				$.ajax({
					url: "/Skelbimai/GaukSkelbimoPartnerius/" + skelbimoId,
					method: "GET",
					success: function (data) {
						$(".partneriai-list").empty();

						var partneriai = Object.values(data);

						partneriai.forEach(function (partneris) {
							var partnerioSlapyvardis = partneris.partnerioSlapyvardis;
							var listItem = $("<li>").text(partnerioSlapyvardis);

							$(".partneriai-list").append(listItem);
						});
					},
					error: function (error) {
						console.error("Klaida gaunant parnerius: ", error);
					}
				});
			});
		});
	</script>
}
